/*  */
body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 10em;
}

#output:not(:empty) {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

#output {
  margin: 2em auto;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  background: none;
  max-width: 15em;
  padding: 1em;
  border-radius: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
}
