/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Courier, monospace;
  background: url("../img/bgd.webp") center/cover no-repeat fixed;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(180, 180, 180, 0.8);
  z-index: -1;
}

.button {
  background: transparent;
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  color: #333333af;
  margin-bottom: 30px;
  font-size: 28px;
}

#checkBtn {
  background: linear-gradient(135deg, #3a3a3a 0%, #757575 100%);
  color: rgba(192, 192, 192, 0.815);
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  box-shadow: 2px 2px 16px #5f5f5f;
}

.task-container {
  margin-bottom: 80px;
  padding: 0 15px;
  color: #290e0edc;
  border-radius: 10px;
  border-left: 4px solid #686969;
}

.content {
  display: flex;
  gap: 35px;
}

.code {
  width: 500px;
  line-height: 1.6;
  font-size: 15px;
}

.explanation {
  flex: 1; /* оставшееся пространство*/
  padding: 50px 0;
  text-align: center;
  line-height: 1.6;
}

.explanation ol {
  display: inline-block; /* чтобы текст списка центрировался */
  text-align: left;
  margin: 30px auto;
  list-style-position: inside;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .code {
    width: 100%;
  }

  .explanation ol {
    width: 90%;
  }
}

.explanation li {
  margin-bottom: 10px;
}

.explanation p {
  margin: 15px auto;
  font-weight: 700;
  max-width: 700px;
  font-size: 18px;
}

.code pre {
  background: #000000d8;
  color: #c9c9c9;
  border-radius: 10px;
}
