/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* ===== MAIN STYLES ===== */
body { font-family: 'Courier New' }

header {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    background: #f0f0f0;
    color: #424242;
    outline: solid 2px #ccc;
}

.app {
    width: 640px;
    margin: 30px auto;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.score {
    font-size: 2em;
}

.btn-start {
    padding: 0.3em 1em;
    cursor: pointer;
}