* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-color: #2c3e50;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 12px;
}

.header {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.assignment,
.explanation {
  flex: 1;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
}

h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 1.8rem;
  padding-left: 15px;
  text-align: center;
}

h3 {
  color: #34495e;
  margin: 20px 0 12px 0;
  font-size: 1.3rem;
}

ul,
ol {
  margin-left: 25px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
  color: #444;
}

.assignment ul:last-of-type li {
  background: #f8f9fa;
  padding: 8px 12px;
  border-radius: 6px;
  border-left: 3px solid #2ecc71;
}

.link {
  text-align: center;
}
.link a {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  background: white;
}
.link a:hover {
  background: linear-gradient(135deg, #f8f9fa 0%, #145392 100%);
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column; /* ← Вертикально на мобильных */
  }

  .assignment,
  .explanation {
    width: 100%; /* ← На всю ширину */
  }
}
