/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Courier New' }

/* ===== MAIN STYLES ===== */
header {
    text-align: center;
    padding: 0.5em 0;
    background: #f0f0f0;
    color: #424242;
    margin-bottom: 5em;

    outline: solid 2px #ccc;
}

main {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;

    /* outline: 1px dotted red; */
}

main div {
    text-align: center;
}

main input {
    width: 10em;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 2em;
}

p {
    text-indent: 1.5em;
    margin-bottom: 1em;
}

code {
    font-weight: bold;
    font-size: 1.1em;
}