/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }

header {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    background: #ccc;
    color: #424242;
    /* margin-bottom: 1em; */
    outline: solid 2px #999;
}

/* ===== MAIN STYLES ===== */

body { 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

    gap: 2em;

    font-family: 'Courier New', Courier, monospace; 
    text-align: center; 
}

.controls {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    gap: 0.5em;

}

.controls input {
    max-width: 5em;
    text-align: center;
    padding: 0.2em 0.4em;
}

/* циферблат */ 
.mechanical-clock {
    position: relative;
    container-type: inline-size;
    /* z-index: 1; */

    aspect-ratio: 1 / 1;
    width: 40em;
    height: 40em;

    outline: 0.3em solid #999;
    border-radius: 50%;
    background: #ccc;
}

/* .numbers { position: absolute; inset: 0; } */
.clock-num { 
    position: absolute;

    background: #999;
    color: #ccc;
    font-weight: 700;
    border-radius: 50%;
    width: 13em;
}

/* стрелки */
.second { width: 1%; height: 45%; background: #ff0000; }
.minute { width: 2%; height: 38%; background: #424242; opacity: 0.9; }
.hour { width: 3%; height: 30%; background: #424242;  opacity: 0.9; }

/* равняю стрелки */
.hand {
    position: absolute;
    left: 50%;
    bottom: 50%;

    transform-origin: bottom center;
    transform: translateX(-50%);

    border-radius: 0.7em;
    z-index: 8;
}

/* обратные кончики стрелок */
.hand::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 20%;

    background: #424242;
    border-radius: 0.4em;
}

.second::before { background: #ff0000; }

/* болт */
.bolt { width: 4.5%; height: 4.5%; border-radius: 50%; background: #ff0000; transform: translate(-50%, 50%); }
.bolt::before{ content: none; }

/* цифровые часы */
.digital-clock {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20%;
    z-index: 5;
    
    /* min-width: 40%; */
    background: #777ccc;
    box-shadow: 0 0 0.2em #333 inset;
    padding: 0.15em 0.4em;
    border-radius: 0.2em;
    /* opacity: 0.9; */

    font-family: 'Orbitron';
    font-size: 4cqw; /* % от ширины .clock */
    font-weight: bold;
    color: #424242;
    text-shadow: 0 0 0.1em #333;
    letter-spacing: 0.1em;
    
}
